{
  "root": true,
  "extends": [
    "@react-native",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react-native-a11y/all",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "jest/globals": true,
    "react-native/react-native": true
  },
  "plugins": [
    "react",
    "react-native",
    "import",
    "promise",
    "jest",
    "testing-library"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/indent": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "operator-linebreak": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 140
      }
    ],
    "react-native/no-color-literals": 1,
    "react-native/no-inline-styles": 1,
    "react-native/no-raw-text": 1,
    "react-native/no-single-element-style-arrays": 2,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react/function-component-definition": [0],
    "react/no-unstable-nested-components": "off"
  },
  "overrides": [
    {
      "files": ["*.test.tsx"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
